/.venv
/.vscode
Perguntas/Pergunta 1/1.1-answers.csv
Perguntas/Pergunta 1/dias_outliers.csv
Perguntas/Pergunta 4/prejuizo_produto.pbix
Perguntas/Pergunta 3/custos_importacao.csv
Perguntas/Pergunta 4/receitas_produtos.csv
